.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;

}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


.imgCont {
  height: 300px;
  overflow: hidden;
}

.item {
  box-shadow: 1px 1px 5px var(--blue);
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s;
}

.animate{
  transform: translateY(0);
  opacity: 1;
}

.gridButton {
  margin: 0 auto;
}

/* .dark {
  background-color: #000;
  opacity: 0;
  transition: opacity .3s;
  z-index: 1;
} */

.image {
  transition: transform .3s;
}

/* @media (min-width: 1024px) {
  .dark {
    opacity: 0.3;

    &:hover {
      opacity: 0;
    }

    &:hover~.image {
      transform: scale(1.1);
    }
  }
} */