.button {
    z-index: 10;
}

.title,
.text {
    text-shadow: 0 0 10px #fff;
    z-index: 10;
    color: #fff;
    user-select: none;
}

.carousel {
    height: 500px;
    overflow-x: hidden;
}

@media (min-width: 1024px) {
    .carousel {
        width: var(--width768);
    }
}

.imageTitle {    
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
    width: fit-content;
    padding: 20px;
}

.imageDescription {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 100px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    margin: auto;
    padding: 20px;

}