.header {
    background-color: var(--headerBg);
    box-shadow: 0px 0px 10px 5px var(--blue);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 50;
}


.unfinishedWebsite{
    position: fixed;
    top: 200px;
    left: 0;
    z-index: 300;
    color: grey;
    width: 18%;
    font-size: 12px;
    text-shadow: 1px 1px 5px grey;
}