.darkBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}

.close{
    position: absolute;
    top: 10%;
    right: 5%;
}

.search{
    margin-top: 200px;
}

.title{
    letter-spacing: 5px;
}